.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
    container {
      flex-direction: row
  }
}


body {
  margin: 15px;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif
}
.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: rgb(188, 188, 188);
  color: black;
}
/* Buttons placed together */
.bordered-button{
  float: left;
  background-color: gray; /* Green */
  border: 1px solid black;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.bordered-button:hover{
  background-color: rgb(188, 188, 188);
  color: black;
}
/* Buttons spaced apart */
.spaced-button{
  
  background-color: gray; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-inline-end: 5px ;

}
.spaced-button:hover{
  background-color: rgb(188, 188, 188);
  color: black;
}


.main-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font: 1.2em sans-serif;

  display: flex;
  background-color: gray;
  flex-direction: row;
  border-radius: 4px;



}


.main-nav a {
  padding: 0.5em 1em;
  display: block;
  color: black;
  /*Remove the link line from the menu*/
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* Makes the links standout when moused over */
.main-nav a:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: rgb(188, 188, 188);
}


.push {
  margin-left: auto;
  text-decoration: none;
}